
body,
html {
  @include mainfont;

  height: 100%;
  background-color: $background-purple;
}

.container {
  width: 80%;
  margin: 5% auto 0;

  @include breakpoint(mobile) {
    width: 95%;
  }
}

// Todo remove?
// .main {
// }
