
$width: 96%;
$gutter: 4%;

.row {
  position: relative;
  width: 100%;

  .half,
  .full {
    box-sizing: border-box;
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.half {
  width: ($width / 2) - ($gutter * 6 / 12);

  @include breakpoint(mobile) {
    width: $width;
  }
}

.full {
  width: $width;
}
