

h1 {
  color: $material-black;
  font-size: 1.5rem;
  padding: 0 10px;
  border-left: 3px solid $material-main;
}

h2 {
  color: darken($material-black, 7%);
}

p {
  padding: 10px 0;
}

.active {
  font-weight: bold;
}
